@page
@model IndexModel
@{
ViewData["Title"] = "Главная страница";
}

<div class="text-center">
<h1 class="display-4">Приложение - Из vs2022 версии 19</h1>.
<p>Узнайте о <a href="https://learn.microsoft.com/aspnet/core">создании веб-приложений с ASP.NET Core</a>.</p>
</div>

