@page
@model IndexModel
@{
ViewData["Title"] = "Main Page";
}

<div class="text-center">
<h1 class="display-4">Application - From git ver 20</h1>.
<p>. <a href="https://learn.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>
</div>

